{* This is the welcome page, you can delete it *}
{block head}

{/block}
{block content}
    <h2>Hello! I am a test page. Track me!</h2>
    <p>To track page you shoud add track.js and put your_params = { page: 'your_page', datetime:'your_datetime', user:'your_user'} to
        PageTracker.keepPage(your_params)</p>
    <p>You can browse your data at the <a n:href="Track:tracker">analitic page</a></p>
{/block}


{block scripts}
{include parent}
<script src="https://files.nette.org/sandbox/jush.js"></script>
<script src="{$basePath}/js/track.js"></script>

<script type="text/javascript">

    {*  **Add your parameter values - it keeps track the page** *}

	$(document).ready(function(){
               var params = {
                        page : "homepage",
                        datetime : "2015-06-22 00:01:55",
                        user : "John"
                        };
              PageTracker.keepPage(params);
    });

    </script>
{/block}