{* This is the sample of analitic page, you can delete it *}
{block content}
    <div class="col-md-4 text-center">
        <h3>List of viewed pages</h3>
        <div class="myScroll" id="page-user-date"></div>
    </div>
    <div class="col-md-2 text-center">
        <h3>List of users</h3>
        <div class="myScroll" id="users"></div>
    </div>
    <div class="col-md-6 text-center">
        <h3>Frequency of views</h3>
        <div id="visit-per-day"></div>
    </div>
{/block}

{block scripts}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{$basePath}/js/analitic.js"></script>
    <script type="text/javascript">

        {*  **Api for analytics** *}

        Analitic.load();
        Analitic.tableOfPages({$pages},"page-user-date");
        Analitic.tableOfUsers({$users},"users");
        Analitic.chartOfFrequency({$frPerDay},"visit-per-day");

    </script>
{/block}